// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

font-color = #666

@font-face
  font-family: 'Arvil Sans'
  src: url('../fonts/arvil_sans-webfont.eot')
  src: url('../fonts/arvil_sans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arvil_sans-webfont.woff') format('woff'),
       url('../fonts/arvil_sans-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal

body
  font-family: 'Arvil Sans', Arial, sans-serif
  font-size: 24px
  letter-spacing: 1px
  color: font-color
  background: url('../images/app/paper-tile.jpg') repeat

h1, h2, h3
  font-weight: normal
  color: black
  margin: 0
  -webkit-margin-before: 0
  -webkit-margin-after: 0

ul
  padding-left: 0

li
  list-style-type: none

a
  color: font-color
  text-decoration: none

  &:visited
    color: font-color

  &:hover
    color: black

a.rounded-button
  font-size: 32px
  color: white
  background-color: black
  border-radius: 6px
  padding: 3px 12px

  &:hover
    background-color: font-color

  &:active
    color: font-color
    background-color: white
    border: 1px solid #ddd
    border-top: 2px solid font-color
    border-left: 2px solid font-color

b
  font-weight: normal

video
  width: 100%
  height: 100%

.page-container
  text-align: center
  overflow: hidden

.trapezoid
  position: absolute
  border-style: solid
  border-color: transparent
  border-width: 0
  width: 0
  height: 0
