<h1>Jump to</h1>
<span class='menu-item'><a href="index.html">Concepts Home</a></span>
{{#each items}}
{{#if title}}
<h2>{{title}}</h2>
{{/if}}
<ul>
  {{#each_with_index slides}}
  {{#if sid}}
  <li class='menu-item item-{{sid}}'><a href="#{{sid}}">{{menuItem}}</a></li>
  {{/if}}
  {{/each_with_index}}
</ul>
{{/each}}
<a class="toggle menu" href="."><span></span></a>
