<div class="text-container">
  {{#if title}}<h1>{{title}}</h1>{{/if}}
  {{#if body}}<div class="desc">{{{body}}}</div>{{/if}}
  {{#if backward}}<a class="rounded-button previous-button" href=".">{{backward}}</a>{{/if}}
  {{#if forward}}<a class="rounded-button next-button" href=".">{{forward}}</a>{{/if}}
</div>
<div class="screen-container"></div>
<div class="prompt-container"></div>
